<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Social Login Test</h1>
      </ion-header-bar>
      <ion-content ng-controller="main">
        <button class="button button-full button-positive" ng-click="loginFB()" ng-show="!isFBLoggedIn">Facebook Login</button>
        <button class="button button-full button-assertive" ng-click="logoutFB()" ng-show="isFBLoggedIn">Facebook Logout</button>
        <button class="button button-full button-positive" ng-click="loginFSquare()" ng-show="!isFSquareLoggedIn">FourSquare Login</button>
        <button class="button button-full button-assertive" ng-click="logoutFSquare()" ng-show="isFSquareLoggedIn">FourSquare Logout</button>
        <button class="button button-full button-positive" ng-click="loginGoogle()" ng-show="!isGoogleLoggedIn">Google Login</button>
        <button class="button button-full button-assertive" ng-click="logoutGoogle()" ng-show="isGoogleLoggedIn">Google Logout</button>
        <div class="row">
          <div class="col" style="text-align:center">
            <a href="#" ng-click="loginKakao()">
              <img src="img/buttons/kakao_account_login_btn_medium_narrow.png">
            </a>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
